importMethodsFrom(Biostrings,
                  reverseComplement)

importMethodsFrom(Rlibstree,
                  SuffixTree, getLongestSubstring)

importFrom(Biostrings,
           DNAStringSet, RNAStringSet)

export(
       "get_selfhyb_subseq",
       "show_selfhyb_counts",
       "show_selfhyb_lengths",
       "seedRegions",
       "matchSeeds",
       "RNA2DNA"
       )
